body {
	margin: 0;
	padding: 0;
}
#warp {
}
#content {
}
@media screen and (max-width: 1500px){
	
}
@media screen and (min-width: 1500px){
	
}
header {
	width: 100%;
	height: 100px;
	background-color: lightgray;
}
section {
	width: 100%;
	height: calc(100vh - 170px);
	background-color: tan;
}
.content_box {
	float: left;
	width: 20%;
	height: 50%;
	background-color:rgba(100, 100, 100,0);
	z-index: 1;
}
#box1 {
	transition: 0.5s;
}
img{
	position:absolute;
	width:300px;
	opacity: 0.5;
	overflow:hidden;
}
#box2 {
	transition: 0.5s;
}

#box1:hover, #box2:hover {
	background-color: black;
  	transition: 0.5s;
}

footer {
	color:white;
	width: 100%;
	height: 70px;
  	background-color: rgb(43, 73, 140);
}
